<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/spotifydb.css">
  <style>
    .img{
      height: 200px;
      width: 200px;
    }
    .link{
      color: rgba(157, 0, 255, 0.82);
    }
    .text{
      color: #f4f4f4;
      font-size: small;
    }
  </style>
</head>
<body>

<div class="profile-bar">
<form class="search-bar" id="form" role="search" th:action="@{/spotify/addalbum/}" method="post">
  <input class="search-bar input" id="query" name="q" th:value="${authorName}" aria-label="Search through site content"
         placeholder="Artist name ...">
</form>
  <a class="btn-twtr1" th:href="@{/}">mySpot Wall</a>
  <a class="btn-twtr1" th:href="@{/spotify/signin}">Timeline</a>
  <a class="btn-twtr1" th:href="@{/admin/tracks/all}">my Tracks</a>
  <a class="btn-twtr1" th:href="@{/admin/albums/all}">my Albums</a>
</div><br>

<div class="container group">
  <div class="grid-1-5" th:each="item : ${spotifyAlbumDtos}">
    <img th:src="${item.imageUrl}" th:class="img">
    <ul th:class="text">
      <li><a th:text="${item.artistName}"></a></li>
      <li><a th:text="${item.albumName}"></a></li>
      <li><a th:text="${item.dateOfRelease}"></a></li>
    </ul>
    <form th:action="@{/spotify/addalbum}" th:object="${album}" method="post">
      <input type="text" th:value="${item.imageUrl}" th:name="imageUrl" hidden="hidden"/>
      <input type="text" th:value="${item.albumName}" th:name="albumName" hidden="hidden"/>
      <input type="text" th:value="${item.artistName}" th:name="artistName" hidden="hidden"/>
      <input type="text" th:value="${item.dateOfRelease}" th:name="dateOfRelease" hidden="hidden"/>
      <input type="submit" value="add" class="button"/>
    </form>
  </div>
</div>
</body>
<script src="/js/albumsScript.js"></script>
</html>
