<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .errors{
        font-size: small;
        color: white;
        background: rgba(201, 28, 31, 0.99);
    }

</style>
<body>

<form th:action="@{/favorite/artist/add}" th:object="${favoriteArtist}" method="post">
    <div>
        <label>Artist name</label>
        <div class="errors" th:if="${#fields.hasErrors('favoriteArtistName')}" th:errors="*{favoriteArtistName}"></div>
        <input type="text" class="text-input" th:field="*{favoriteArtistName}" id="favoriteArtistName" />
        <input type="submit" value="Add Artist">
    </div>

</form>

</body>
</html>